---
title: Blogs
permalink: blog.html
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <section id="menu">
    <img id="logo" />
    <h1>{aesthetecoding.io}</h1>
    <nav>
      <ul>
        <li>About me</li>
        <li>Twitter</li>
        <li>Linkedin</li>
        <li>Stack Overflow</li>
        <li>Github</li>
      </ul>
      <ul>
        <li>Blog</li>
        <li>Tags</li>
        <li>Categories</li>
        <li>RSS</li>
      </ul>
    </nav>
  </section>
  <section id="content">
    {% for post in site.posts %}
      {% include post-summary.html post=post %}
    {% endfor %}
  </section>
  <footer></footer>
</body>
</html>
