---
---
<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>{aesthetecoding.io}, Hard to write, easy to adopt</title>
	<meta name="author" content="Frédéric GUILLAUME">
	<meta name="description" content="Web and Business Intelligence freelance developer">
	<meta name="keywords" content="web,business intelligence,freelance,consultant,developer">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="{aesthetecoding.io}">
	<meta itemprop="description" content="Web and Business Intelligence freelance developer">
	<meta itemprop="image" content="https://aesthetecoding.io/assets/images/wc_large.png">

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{aesthetecoding.io}">
	<meta name="twitter:description" content="Web and Business Intelligence freelance developer">
	<meta name="twitter:creator" content="@FredGuillaume">
	<meta name="twitter:image" content="https://aesthetecoding.io/assets/images/wc_small.png">
	<meta name="twitter:image:alt" content="aesthetecoding.io logo" />

	<!-- Open Graph data -->
	<meta property="og:title" content="{aesthetecoding.io}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://aesthetecoding.io/" />
	<meta property="og:image" content="https://aesthetecoding.io/assets/images/wc_small.png" />
	<meta property="og:image:type" content="image/png" />
	<meta property="og:image:width" content="300" />
	<meta property="og:image:height" content="300" />
	<meta property="og:image:alt" content="aesthetecoding.io logo" />
	<meta property="og:description" content="Web and Business Intelligence freelance developer" />
	<meta property="og:site_name" content="aesthetecoding" />

	<link type="text/plain" rel="author" href="humans.txt" />
	<link rel="icon" type="image/png" href="https://aesthetecoding.io/assets/images/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="https://aesthetecoding.io/assets/images/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="https://aesthetecoding.io/assets/images/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="apple-touch-icon" href="https://aesthetecoding.io/assets/images/favicon/older-iPhone.png">
	<link rel="apple-touch-icon" sizes="180x180" href="https://aesthetecoding.io/assets/images/favicon/iPhone-6-Plus.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://aesthetecoding.io/assets/images/favicon/iPad-Retina.png">
	<link rel="apple-touch-icon" sizes="167x167" href="https://aesthetecoding.io/assets/images/favicon/iPad-Pro.png">

	<link rel="stylesheet" href="assets/css/main.css">
</head>


<body>
  <section id="menu">
		<header>
			<img id="logo" src="assets/images/logo.png" width="150" height="150" alt="Logo"/>
			<h1><span class="title-primary">{</span><span class="title-dark">aesthete</span><span class="title-primary">coding</span><span class="title-dark">.io</span><span class="title-primary">}</span></h1>
		</header>
		<nav>
			<div class="horizontal-flex-wrapper">
				<ul>
					<li><a href="#"><i class="menu-button-icon home"></i><span class="menu-button-text">Home</span></a></li>
					<li><a href="#"><i class="menu-button-icon tags"></i><span class="menu-button-text">Tags</span></a></li>
					<li><a href="#"><i class="menu-button-icon bookmark"></i><span class="menu-button-text">Categories</span></a></li>
					<li><a href="#"><i class="menu-button-icon rss"></i><span class="menu-button-text">RSS</span></a></li>
				</ul>
				<ul>
					<li><a href="#"><i class="menu-button-icon github"></i><span class="menu-button-text">Github</span></a></li>
					<li><a href="#"><i class="menu-button-icon stackoverflow"></i><span class="menu-button-text">Stack Overflow</span></a></li>
					<li><a href="#"><i class="menu-button-icon twitter"></i><span class="menu-button-text">Twitter</span></a></li>
					<li><a href="#"><i class="menu-button-icon linkedin"></i><span class="menu-button-text">Linked In</span></a></li>
				</ul>
			</div>
			<ul>
				<li><a href="#"><i class="menu-button-icon user"></i><span class="menu-button-text">About me</span></a></li>
			</ul>
		</nav>
  </section>
  <main>
    {% for post in site.posts %}
      {% include post-summary.html post=post %}
    {% endfor %}
  </main>
  <footer>Copyrights &copy; {{ 'now' | date: "%Y" }} Fr&eacute;d&eacute;ric Guillaume. All Rights Reserved.</footer>
</body>
</html>
