<div class="About">
  <div class="About-text">
    <h3>Hi, my name is Frédéric Guillaume (aka jolo)</h3>
    <p>I am a senior fullstack javascript / web developer.
    I am currently working at <a href="https://www.crossknowledge.com/">Cross Knowledge</a> in Sophia Antipolis in France.</p>

    <p>I have been working for more than 10 years in web development and I am particularly fond of <em><a href="https://en.wikipedia.org/wiki/Software_craftmanship">the Software Craftmanship</a></em> approach to coding.</p>
    
    <p>I am also the co-founder of the <a href="https://twitter.com/jssophia">JSSophia</a> user group. It aims to support the JS local community and to enhance, emulate and promote the usage of javascript.</p>

    <p>I actually chose the current domain name -aesthetecoding.io- remembering a punchline : <q>Easy to learn, hard to master</q>
    that I translated to development : <q>Easy to code, hard to master</q>. Then it was clear to me: my blog would be the one
    <q>Easy to say, hard to write</q> :)</p>

    <p>My inspiration comes from facing new challenges, meeting new people, attending events and discovering now tools
    , so do not hesitate to contact me !!!!!</p>
  </div>
  <div class="About-photo">
    <div class="About-placeholder">&nbsp;</div>
  </div>
</div>
