<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; style-src 'self' https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css; img-src 'self'; font-src 'self' https://fonts.gstatic.com/ https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/; base-uri 'self'; form-action 'none'; object-src 'none'">
  <meta name="referrer" content="no-referrer">
  
  <title>{{ page.title | default: 'Aesthete coding, Easy to code, hard to master' }}</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% assign joinedTags = page.tags | join: ", " %}

  {%- include components/html-header-meta.html
      author=page.author
      title=page.title
      description=page.description
      keywords=joinedTags
      image_small=page.image_small
      image_type=page.image_type
      image_width=page.image_width
      image_height=page.image_height
      image_alt=page.image_alt
  -%}

  <link rel="stylesheet" href="/assets/css/main.css">


</head>


<body class="layout">
  <section class="menu">
    <header class="header">
      <div class="js-menu-icon header__menu_icon">
        <div class="header__menu_icon__bars">&nbsp;</div>
      </div>
      <img class="header__logo" src="/assets/images/logo.png" width="150" height="150" alt="Logo: old man medidating" />
      <h1 class="header__title"><span class="header__title_orange">{</span><span class="header__title_white">aesthete</span><span class="header__title_orange">coding</span><span
          class="header__title_white">.io</span><span class="header__title_orange">}</span></h1>

    </header>
    <nav class="js-navigation navigation" data-expanded="false">
        <div class="js-menu-icon navigation__menu_icon">
          <div class="navigation__menu_icon__bars">&nbsp;</div>
        </div>
        <ul class="navigation__links">
          <li class="navigationItem"><a class="navigationItem__link" href={{ "/index.html" | relative_url }}><i class="navigationItem__icon navigationItem__icon_home navigationItem__icon_margin"></i><span class="menu-button-text">Home</span></a></li>
          <li class="navigationItem"><a class="navigationItem__link" href={{ "/search.html" | relative_url }}><i class="navigationItem__icon navigationItem__icon_search navigationItem__icon_margin"></i><span class="menu-button-text">Search</span></a></li>
          <li class="navigationItem"><a class="navigationItem__link" href={{ "/about.html" | relative_url }}><i class="navigationItem__icon navigationItem__icon_user navigationItem__icon_margin"></i><span class="menu-button-text">About me</span></a></li>
        </ul>
        <ul class="navigation__social">
          <li class="navigationItem"><a class="navigationItem__link" aria-label="View Fred's Github profile" href="https://github.com/Fred-el-Jolo"><i aria-hidden="true" class="navigationItem__icon navigationItem__icon_github"></i></a></li>
          <li class="navigationItem"><a class="navigationItem__link" aria-label="View Fred's StackOverflow profile" href="https://stackoverflow.com/users/7510546/fredg"><i aria-hidden="true" class="navigationItem__icon navigationItem__icon_stackoverflow"></i></a></li>
          <li class="navigationItem"><a class="navigationItem__link" aria-label="View Fred's Twitter profile" href="https://twitter.com/fredguillaume?lang=en"><i aria-hidden="true" class="navigationItem__icon navigationItem__icon_twitter"></i></a></li>
          <li class="navigationItem"><a class="navigationItem__link" aria-label="View Fred's Linkedin profile" href="https://www.linkedin.com/in/fredericguillaume/"><i aria-hidden="true" class="navigationItem__icon navigationItem__icon_linkedin"></i></a></li>
        </ul>
    </nav>
    <script src="/assets/js/navigation.js"></script>
  </section>
  <main class="main">
    {%- include {{include.content}} -%}
  </main>
  <footer class="footer">Copyrights &copy; {{ 'now' | date: "%Y" }} Fr&eacute;d&eacute;ric Guillaume. All Rights Reserved.</footer>
</body>

</html>
