<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; style-src 'self'; img-src 'self'; base-uri 'self'; form-action 'none'; frame-ancestors 'none'; object-src 'none'">
  <meta name="referrer" content="no-referrer">
  
  <title>{aesthetecoding.io}, Easy to code, hard to master</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {%- include components/html-header-meta.html -%}

  <link rel="stylesheet" href="/assets/css/main.css">


</head>


<body class="layout">
  <section class="menu">
    <header class="header">
      <div class="js-menu-icon header__menu_icon">
        <div class="header__menu_icon__bars">&nbsp;</div>
      </div>
      <img class="header__logo" src="/assets/images/logo.png" width="150" height="150" alt="Logo" />
      <h1 class="header__title"><span class="header__title_orange">{</span><span class="header__title_white">aesthete</span><span class="header__title_orange">coding</span><span
          class="header__title_white">.io</span><span class="header__title_orange">}</span></h1>

    </header>
    <nav class="js-navigation navigation" data-expanded="false">
        <div class="js-menu-icon navigation__menu_icon">
          <div class="navigation__menu_icon__bars">&nbsp;</div>
        </div>
        <ul class="navigation__links">
          <li class="navigationItem"><a class="navigationItem__link" href={{ "/index.html" | relative_url }}><i class="navigationItem__icon navigationItem__icon_home navigationItem__icon_margin"></i><span class="menu-button-text">Home</span></a></li>
          <li class="navigationItem"><a class="navigationItem__link" href={{ "/search.html" | relative_url }}><i class="navigationItem__icon navigationItem__icon_search navigationItem__icon_margin"></i><span class="menu-button-text">Search</span></a></li>
          <li class="navigationItem"><a class="navigationItem__link" href={{ "/about.html" | relative_url }}><i class="navigationItem__icon navigationItem__icon_user navigationItem__icon_margin"></i><span class="menu-button-text">About me</span></a></li>
        </ul>
        <ul class="navigation__social">
          <li class="navigationItem"><a class="navigationItem__link" href="https://github.com/Fred-el-Jolo"><i class="navigationItem__icon navigationItem__icon_github"></i></a></li>
          <li class="navigationItem"><a class="navigationItem__link" href="https://stackoverflow.com/users/7510546/fredg"><i class="navigationItem__icon navigationItem__icon_stackoverflow"></i></a></li>
          <li class="navigationItem"><a class="navigationItem__link" href="https://twitter.com/fredguillaume?lang=en"><i class="navigationItem__icon navigationItem__icon_twitter"></i></a></li>
          <li class="navigationItem"><a class="navigationItem__link" href="https://www.linkedin.com/in/fredericguillaume/"><i class="navigationItem__icon navigationItem__icon_linkedin"></i></a></li>
        </ul>
    </nav>
    <script src="/assets/js/navigation.js"></script>
  </section>
  <main class="main">
    {%- include {{include.content}} -%}
  </main>
  <footer class="footer">Copyrights &copy; {{ 'now' | date: "%Y" }} Fr&eacute;d&eacute;ric Guillaume. All Rights Reserved.</footer>
</body>

</html>
