<article class="post-summary">
  <a href="{{ include.post.url }}">
    <figure class="post-illustration">
      <img src="{{ include.post.image }}"
        alt="{{ include.post.image-alt }}">
      </img>
    </figure>
    <summary>
      <h1>{{ include.post.title }}</h1>
      <div class="post-metadata">
        <span class="post-date">
          {% assign day = include.post.date | date: "%-d"  %}
          {% case day %}
            {% when '1' or '21' or '31' %}{{ day }}st
            {% when '2' or '22' %}{{ day }}nd
            {% when '3' or '23' %}{{ day }}rd
            {% else %}{{ day }}th
          {% endcase %}
          {{ include.post.date | date: "of %B, %Y" }}
        </span>
        <span class="post-categories"> in {{ include.post.categories | join: ', ' }}</span>
      </div>
      <div class="excerpt">{{ include.post.excerpt }}</div>
      <div class="continue-link">Click to continue reading</div>
    </summary>
  </a>
</article>
