<div class="search-list">
  {%- for item in include.items -%}
    <div class="searchItem__label"><a class="searchItem__list_link" href="#{{ item[0] }}-{{ include.type }}">{{ item[0] }}</a></div>
  {%- endfor -%}
</div>

{%- for item in include.items -%}
  <h4><a class="searchItem__detail" name="{{ item[0] }}-{{ include.type }}">{{ item[0] }} ({{ item[1] | size }})</a></h4>
    <ul class="searchItem__list">
      {%- for p in item[1] -%}
      <li class="searchItem__list_caret">
        <a href="{{ p.url }}">{{ p.title }}</a>
        <span class="searchItem__list_date">{{ p.date | date: "%b %d, %Y" }}</span>
      </li>
      {%- endfor -%}
    </ul>
  </li>
{%- endfor -%}