<div class="search">
  <input class="search__input_tags searchTabs__input_hidden" id="tags" type="radio" name="tabs" checked>
  <label class="searchTabs__tab" for="tags">Tags</label>
    
  <input class="search__input_categories searchTabs__input_hidden" id="categories" type="radio" name="tabs">
  <label class="searchTabs__tab" for="categories">Categories</label>
  
  <section class="search__content_tags">
    {%- include search_items.html items=site.tags type="tag" -%}
  </section>
    
  <section class="search__content_categories">
    {%- include search_items.html items=site.categories type="category" -%}
  </section>
</div>