.header {
  width: 100%;
  text-align: center;

  @include media("<tablet") {
    height: 50px;

    &__logo {
      display: none;
    }
  }

  &__menu_icon {
    display: none;

    @include media("<tablet") {
      position: absolute;
      left: 0;
      display: block;
      line-height: 50px;
      padding-left: 15px;
      background-color: $dark-brown;
      padding-right: 10px;
      cursor: pointer;
    }
  }

  &__menu_icon__bars {
    @include custom-fas($fa-var-bars);
  }

  &__title {
    &_orange {
      color: $orange;
    }
    &_white {
      color: $white;
    }

    @include media("<wide") {
      font-size: 2.5rem;
    }

    @include media(">=desktop", "<wide") {
      font-size: 2.5rem;
    }

    @include media(">=tablet", "<desktop") {
      font-size: 2.0rem;
    }

    @include media("<tablet") {
      margin: 0;
      line-height: 50px;
    }
  }
}
