.main {
  grid-area: content;
  display: block;
  max-width: 900px;
  margin: auto;
  margin-top: 15px;
  padding: 0 25px;

  @include media(">=wide") {
    max-width: 900px;
  }

  @include media(">=desktop", "<wide") {
    max-width: 700px;
  }

  @include media(">=tablet", "<desktop") {
    max-width: 500px;
  }

  @include media("<=phone") {
    max-width: 320px;
  }
}