.main {
  display: block;
  margin: auto;
  margin-top: 15px;
  padding: 0 25px;

  @include media(">=tablet") {
    grid-area: content;
    max-width: 65vw;
  }

  @include media("<tablet") {
    max-width: 95vw;
    margin-top: 50px;
    padding: 0;
  }
}