.menu {
  position: fixed;
  font-family: $open-sans-sans-serif;
  background-color: $brown;
  color: $light-grey;

  @include media(">=tablet") {
    grid-area: menu;
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
  }

  @include media("<tablet") {
    width: 100vw;
    height: 50px;
  }
}

