.navigation {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media("<tablet") {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 185px;
    background-color: $dark-brown;
    @include prefix(transition, all .3s, webkit ms);

    &[data-expanded="false"] {
      transform: translate(-270px);
      @include prefix(transform, translate(-270px), webkit ms);
    }
  }

  &__menu_icon {
    display: none;

    @include media("<tablet") {
      position: absolute;
      left: 0;
      display: block;
      line-height: 50px;
      cursor: pointer;
      padding: 0 10px 0 15px;
    }
  }

  &__menu_icon__bars {
    @include custom-fas($fa-var-bars);
  }

  &__links {
    display: inline-block;
    padding-left: 0;
    text-align: left;

    @include media("<tablet") {
      margin-bottom: 0;
      order: 2;
    }
  }

  &__social {
    display: flex;
    padding-left: 0;
    font-size: 1.3rem;
    width: 25vw;
    justify-content: space-evenly;
    margin-top: auto;

    @include media("<tablet") {
      align-items: center;
      margin: 0;
      padding: 0 15px 0 50px;
      height: 51px;
      line-height: 50px;
      order: 1;
      border-bottom: 1px solid $white;
    }
  }
}
