.navigationItem {
  display: block;
  height: 45px;
  line-height: 45px;

  &:hover, &:focus {
    background-color: $orange;
    
    @include transition(all, 0.2s, ease-out);
  }
  
  &:not(:hover, :focus) {
    background-color: inherit;

    @include transition(all, 0.2s, ease-out);
  }
  
  &:hover *, &:focus * {
    text-decoration: none;
    color: $brown;
  }
  
  /*
  @include media("<tablet") {
    @include on-event {
      background-color: $dark-grey;
    }
  }
  */

  &__link {
    color: $light-grey;

    /*
    @include on-event {
      color: white;

      @include media("<tablet") {
        text-decoration: none;
      }
    }
    */
  }

  &__icon {
    width: 30px;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    text-align: center;

    &_margin {
      margin-right: 15px;
    }

    &_home {
      @include custom-fas($fa-var-home);
    }

    &_search {
      @include custom-fas($fa-var-search);
    }

    &_rss {
      @include custom-fas($fa-var-rss);
    }

    &_user {
      @include custom-fas($fa-var-user);
    }

    &_twitter {
      @include custom-fab($fa-var-twitter);
    }

    &_github {
      @include custom-fab($fa-var-github);
    }

    &_stackoverflow {
      @include custom-fab($fa-var-stack-overflow);
    }

    &_linkedin {
      @include custom-fab($fa-var-linkedin);
    }

    &_cross {
      @include custom-fas($fa-var-times);
    }
  }
}

.navigation__links {
  @include media("<tablet") {
    width: 100%;
  }
}

.navigation__links .navigationItem {
  padding: 0 15px;
  
  @include media("<tablet") {
    padding: 0;
    width: 100%;
  }
}

