.navigationItem {
  display: block;
  height: 45px;
  line-height: 45px;
  padding-left: 30%;

  &:hover, &:focus-within {
    background-color: $orange;
    
    @include transition(all, 0.2s, ease-out);
  }
  
  &:not(:hover, :focus-within) {
    background-color: inherit;

    @include transition(all, 0.2s, ease-out);
  }
  
  &:hover *, &:focus * {
    text-decoration: none;
    color: $brown;
  }

  &__link {
    color: $light-grey;
  }

  &__icon {
    width: 30px;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    text-align: center;

    &_margin {
      margin-right: 15px;
    }

    &_home {
      @include custom-fas($fa-var-home);
    }

    &_search {
      @include custom-fas($fa-var-search);
    }

    &_rss {
      @include custom-fas($fa-var-rss);
    }

    &_user {
      @include custom-fas($fa-var-user);
    }

    &_twitter {
      @include custom-fab($fa-var-twitter);
    }

    &_github {
      @include custom-fab($fa-var-github);
    }

    &_stackoverflow {
      @include custom-fab($fa-var-stack-overflow);
    }

    &_linkedin {
      @include custom-fab($fa-var-linkedin);
    }

    &_cross {
      @include custom-fas($fa-var-times);
    }
  }
}

.navigation__social .navigationItem {
  @include media("<tablet") {
    padding: 0;
  }
}
