.pagination {
  text-align: center;

  &__block {
    display: inline-block;
    margin: 10px 5px;
    width: 25px;
    height: 25px;
    line-height: 23px;
    font-weight: bold;
    border: 1px solid $light-grey;

    @include border-radius(5px);

    background-color: $light-grey;
    color: $darker-grey;


    &_current {
      @extend %noselect;
      background-color: $blue;
      color: white;
    }
  }

  &__link {
    &:link, &:visited, &:hover, &:active {
      text-decoration: none;
    }

    &:hover, &:focus {
      background-color: $darker-grey;
      color: $light-grey;

      @include transition(all, 0.2s, ease-out);
    }

    &:not(:hover, :focus) {
      background-color: $light-grey;
      color: $darker-grey;

      @include transition(all, 0.2s, ease-out);
    }
  }

  &__previous {
    @include custom-fas($fa-var-angle-left);
  }

  &__first {
    @include custom-fas($fa-var-angle-double-left);
  }

  &__next {
    @include custom-fas($fa-var-angle-right);
  }

  &__last {
    @include custom-fas($fa-var-angle-double-right);
  }
}
