.postSummary {
  border-bottom: 1px solid $dark-brown;

  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      background-color: $brown;
      color: $white;

      @include transition(all, 0.5s, ease-out);
    }
    
    &:hover * {
      color: $white;
    }
    
    &:not(:hover) {
      background-color: inherit;

      @include transition(all, 0.5s, ease-out);
    }

    @include media("<tablet") {
      display: flex;
      text-align: center;
      flex-direction: column;
    }
  }

  &__link:hover &__continue {
    color: $orange;
  }
  
  &__title {
    font-size: map-get($headings-font-size, "h1");
    margin: 0;
  }

  &__date, &__categories {
    font-size: map-get($font-size, small);
    color: $grey;
  }

  &__excerpt {
    color: $dark-grey;
  }

  &__continue {
    font-size: map-get($font-size, small);
    color: $blue;
  }
}
