.searchTabs {
  
  &__input_hidden {
    display: none;
  }

  &__tab {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: $grey;
    border: 1px solid transparent;

    &:before {
      font-family: fontawesome;
      font-weight: normal;
      margin-right: 10px;
    }

    &:hover {
      color: $dark-grey;
      cursor: pointer;
    }
  }

  &__input_hidden:checked + &__tab {
    color: $darker-grey;
    border: 1px solid $grey;
    border-top: 3px solid $orange;
  }
}