.search {
  &__content_tags, &__content_categories {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid $grey;
  }

  &__input_tags:checked ~ &__content_tags,
  &__input_categories:checked ~ &__content_categories {
    display: block;
  }
}