// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

// body {
//     background-color: $secondary-color;
// }



.user {
@extend %custom-fas;

  &:before {
    content: fa-content($fa-var-user);
  }
}

.twitter {
@extend %custom-fab;

  &:before {
    content: fa-content($fa-var-twitter);
  }
}

.github {
@extend %custom-fab;

  &:before {
    content: fa-content($fa-var-github);
  }
}

.stackoverflow {
@extend %custom-fab;

  &:before {
    content: fa-content($fa-var-stack-overflow);
  }
}

.bookmark {
@extend %custom-fas;

  &:before {
    content: fa-content($fa-var-bookmark);
  }
}

.tags {
@extend %custom-fas;

  &:before {
    content: fa-content($fa-var-tags);
  }
}

.archive {
@extend %custom-fas;

  &:before {
    content: fa-content($fa-var-archive);
  }
}

.rss {
@extend %custom-fas;

  &:before {
    content: fa-content($fa-var-rss);
  }
}

.home {
@extend %custom-fas;

  &:before {
    content: fa-content($fa-var-home);
  }
}

.linkedin {
@extend %custom-fab;

  &:before {
    content: fa-content($fa-var-linkedin);
  }
}

.left-angle {
@extend %custom-fas;

  &:before {
    content: fa-content($fa-var-angle-left);
  }
}

.left-angle-double {
@extend %custom-fas;

  &:before {
    content: fa-content($fa-var-angle-double-left);
  }
}

.right-angle {
@extend %custom-fas;

  &:before {
    content: fa-content($fa-var-angle-right);
  }
}

.right-angle-double {
@extend %custom-fas;

  &:before {
    content: fa-content($fa-var-angle-double-right);
  }
}

section#menu{
  font-family: map-get($font-families, 'sidebar');
  background-color: $secondary-color;
  color: $light-grey;

  a {
    color: $light-grey;

    @include on-event {
      color: white;
    }
  }

  header .title-primary {
    color: $primary-color;
  }

  header .title-dark {
    color: white;
  }

  li {
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;

    .menu-button-icon {
      //font-size: 2rem;
      line-height: 35px;
      width: 30px;
      height: 35px;
      margin-right: 15px;
      vertical-align: middle;
      text-align: center;
    }

    .menu-button-text {
      width: auto;
      height: 35px;
      line-height: 35px;
      //font-size: 1.5rem;
      //letter-spacing: .3px;
      vertical-align: middle;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }


}

// h1, h2, h3, h4, h5, h6 {
//   color: $title-color;
// }

// footer {
//   background-color: $dark-brown;  // 2
// }
