<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
    <meta name="referrer" content="no-referrer">
    
    {% assign joinedTags = page.tags | join: ", " %}

    {%- include components/html-header-meta.html
      author=page.author
      title=page.title
      description=page.description
      keywords=joinedTags
      image_small=page.image_small
      image_type=page.image_type
      image_width=page.image_width
      image_height=page.image_height
      image_alt=page.image_alt
      -%}

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/revealjs/css/reveal.css" />
    <link rel="stylesheet" href="/assets/revealjs/css/theme/black.css" />

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="/assets/revealjs/lib/css/zenburn.css" />

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement("link");
      link.rel = "stylesheet";
      link.type = "text/css";
      link.href = window.location.search.match(/print-pdf/gi)
        ? "/assets/revealjs/css/print/pdf.css"
        : "/assets/revealjs/css/print/paper.css";
      document.getElementsByTagName("head")[0].appendChild(link);
    </script>
  </head>

  <body>

    {{ page.content | remove: page.excerpt }}

    <script src="/assets/revealjs/lib/js/head.min.js"></script>
    <script src="/assets/revealjs/js/reveal.js"></script>

      <script>
        // More info about config & dependencies:
        // - https://github.com/hakimel/reveal.js#configuration
        // - https://github.com/hakimel/reveal.js#dependencies

        // Shows the slide number using default formatting
        Reveal.configure({ slideNumber: true });

        Reveal.initialize({
          dependencies: [
            {
              src: "/assets/revealjs/plugin/highlight/highlight.js",
              async: true,
              callback: function () {
                hljs.initHighlightingOnLoad();
              }
            },
            { src: "/assets/revealjs/plugin/notes/notes.js", async: true },
            {
              src: "/assets/revealjs/plugin/highlight/highlight.js",
              async: true,
              callback: function () {
                hljs.initHighlightingOnLoad();
              }
            }
          ]
        });
      </script>
  </body>
</html>
