// ---------------------------------------------------------------------------------
// This file contains all styles related to the main layout of the site/application.
// ---------------------------------------------------------------------------------


// hr {
//   margin-top: 4em;
//   margin-bottom: 4em;
// }

// fieldset {
//   border: medium none !important;
//   margin: 0 0 10px;
//   min-width: 100%;
//   padding: 0;
//   width: 100%;
// }

// .grid-container {
//   @include media(">=desktop") {
//     display: grid;
//     grid-template-areas:
//       "image1 image2 image3"
//       "title1 title2 title3"
//       "content1 content2 content3";
//   }
// }

// section {
//     margin-top: 50px;
//     margin-bottom: 50px;

//     ul {
//       margin-right: 10px;
//     }

//     h3 {
//       margin-bottom: 0;
//     }
// }

// #expert-image, #web-image {
//   grid-area: image1;
// }

// #pmsupport-image, #bi-image {
//   grid-area: image2;
// }

// #pm-image, #pm2-image {
//   grid-area: image3;
// }

// #expert-title, #web-title {
// 	grid-area: title1;
// }

// #pmsupport-title, #bi-title {
// 	grid-area: title2;
// }

// #pm-title, #pm2-title {
// 	grid-area: title3;
// }

// #expert-content, #web-content {
//   @include grid-column-content(content1);
// }

// #pmsupport-content, #bi-content {
//   @include grid-column-content(content2);
// }

// #pm-content, #pm2-content {
// 	@include grid-column-content(content3);
// }

// .media {
//   @include media(">=tablet") {
//     display: flex;
//     align-items: flex-start;
//     margin-bottom: 1em;
//   }
// }

// .media-figure {
//   @include media(">=tablet") {
//     margin-right: 1em;
//   }
// }

// .media-body {
//   @include media(">=tablet") {
//     flex: 1;
//   }
// }

// .media-body,
// .media-body :last-child {
//   @include media(">=tablet") {
//     margin-bottom: 0;
//   }
// }

// .media--center {
//   @include media(">=tablet") {
//     align-items: center;
//   }
//   @include media("<tablet") {
//     text-align: center;
//   }
// }

// .media--reverse > .media-figure {
//   @include media(">=tablet") {
//     order: 1;
//     margin: 0 0 0 1em;
//   }
// }


// #fred-photo {
//   @include media("<tablet") {
//       display: none;
//   }
// }

// #fred-photo-small {
//   @include media(">=tablet") {
//       display: none;
//   }
// }

body {
  display: grid;
  grid-template-columns: 1fr 2.4fr;
  grid-template-rows: auto;
  grid-template-areas:
  "menu content"
  "menu content"
  "menu footer";
}

section#menu {
  grid-area: menu;
}

// section#menu #menuWrapper {
//   position: fixed;
// }

section#menu header {
  text-align: center;
}

section#content {
  grid-area: content;
}

footer {
  grid-area: footer;
}