// ---------------------------------------------------------------------------------
// This file contains all styles related to the main layout of the site/application.
// ---------------------------------------------------------------------------------

// hr {
//   margin-top: 4em;
//   margin-bottom: 4em;
// }

// fieldset {
//   border: medium none !important;
//   margin: 0 0 10px;
//   min-width: 100%;
//   padding: 0;
//   width: 100%;
// }

// .grid-container {
//   @include media(">=desktop") {
//     display: grid;
//     grid-template-areas:
//       "image1 image2 image3"
//       "title1 title2 title3"
//       "content1 content2 content3";
//   }
// }

// section {
//     margin-top: 50px;
//     margin-bottom: 50px;

//     ul {
//       margin-right: 10px;
//     }

//     h3 {
//       margin-bottom: 0;
//     }
// }

// #expert-image, #web-image {
//   grid-area: image1;
// }

// #pmsupport-image, #bi-image {
//   grid-area: image2;
// }

// #pm-image, #pm2-image {
//   grid-area: image3;
// }

// #expert-title, #web-title {
// 	grid-area: title1;
// }

// #pmsupport-title, #bi-title {
// 	grid-area: title2;
// }

// #pm-title, #pm2-title {
// 	grid-area: title3;
// }

// #expert-content, #web-content {
//   @include grid-column-content(content1);
// }

// #pmsupport-content, #bi-content {
//   @include grid-column-content(content2);
// }

// #pm-content, #pm2-content {
// 	@include grid-column-content(content3);
// }

// .media {
//   @include media(">=tablet") {
//     display: flex;
//     align-items: flex-start;
//     margin-bottom: 1em;
//   }
// }

// .media-figure {
//   @include media(">=tablet") {
//     margin-right: 1em;
//   }
// }

// .media-body {
//   @include media(">=tablet") {
//     flex: 1;
//   }
// }

// .media-body,
// .media-body :last-child {
//   @include media(">=tablet") {
//     margin-bottom: 0;
//   }
// }

// .media--center {
//   @include media(">=tablet") {
//     align-items: center;
//   }
//   @include media("<tablet") {
//     text-align: center;
//   }
// }

// .media--reverse > .media-figure {
//   @include media(">=tablet") {
//     order: 1;
//     margin: 0 0 0 1em;
//   }
// }

// #fred-photo {
//   @include media("<tablet") {
//       display: none;
//   }
// }

// #fred-photo-small {
//   @include media(">=tablet") {
//       display: none;
//   }
// }

a {
  color: $complementary-color;
}

body {
  display: grid;
  grid-template-columns: 400px 2fr;
  grid-template-rows: auto;
  grid-template-areas: "menu content" "menu content" "menu footer";
}

section#menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 100%;
  position: fixed;

  header {
    text-align: center;
    width: 100%;
  }
}

.horizontal-flex-wrapper {
  display: flex;
  flex-direction: row;
}

// .about-me-link {
//   text-align: center;
//   padding: 0;
// }

main {
  grid-area: content;
  display: block;
  width: 750px;
  margin: auto;
  margin-top: 15px;
}

footer {
  @extend %noselect;

  grid-area: footer;
  margin-top: 30px;
  text-align: center;
  color: $medium-grey;
}

article.post {
  text-rendering: optimizelegibility;
  font-family: map-get($font-families, "post-content");
  font-size: 1.7rem;
  color: $font-color-base;
  font-weight: 400;

  header {
    display: flex;
    justify-content: flex-start;
    align-items: start;

    figure {
      margin: 0 40px 1em 0;

      img {
        display: block;
        width: 140px;
        height: 140px;
        object-fit: scale-down;
        overflow: hidden;
      }
    }

    div.post-metadata {
      font-family: map-get($font-families, "post-meta");
      font-size: map-get($font-size, small);
      color: $medium-grey;
    }
  }

  h1 {
    font-size: 3.7rem;
    margin: 0;
  }
}

article.post-summary {
  padding: 10px;
  border-bottom: 1px solid $dark-brown;

  &:hover {
    background-color: $super-light-grey;

    @include transition(background-color, 0.5s, ease-out);
  }

  &:not(:hover) {
    background-color: inherit;

    @include transition(background-color, 0.5s, ease-out);
  }

  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:hover {
      text-decoration: none;
    }
  }

  figure {
    margin-left: 0;

    img {
      display: block;
      width: 140px;
      height: 140px;
      object-fit: scale-down;
      overflow: hidden;
    }
  }

  summary {
    h1 {
      margin: 0;
    }

    div.post-metadata {
      font-size: map-get($font-size, small);
      color: $medium-grey;
    }

    div.excerpt {
      color: $dark-grey;
    }

    div.continue-link {
      font-size: map-get($font-size, small);
      color: $complementary-color;
    }
  }
}

.pagination {
  text-align: center;

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }

  span {
    @extend %noselect;
  }

  .current {
    background-color: $complementary-color;
    color: white;
  }

  a, span, > i {
    display: inline-block;
    margin: 10px 5px;
    width: 25px;
    height: 25px;
    line-height: 23px;
    font-weight: bold;
    border: 1px solid $light-grey;

    @include border-radius(5px);

    background-color: $light-grey;
    color: $very-dark-grey;
  }

  a:hover {
    background-color: $very-dark-grey;
    color: $light-grey;

    @include transition(all, 0.2s, ease-out);
  }

  a:not(:hover) {
    background-color: $light-grey;
    color: $very-dark-grey;

    @include transition(all, 0.2s, ease-out);
  }
}

div#search {
  section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid $medium-grey;
  }

  input {
    display: none;
  }

  label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: $medium-grey;
    border: 1px solid transparent;
  }

  label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
  }

  label:hover {
    color: $dark-grey;
    cursor: pointer;
  }

  input:checked + label {
    color: $very-dark-grey;
    border: 1px solid $medium-grey;
    border-top: 3px solid $primary-color;

    // border-bottom: 1px solid #fff;
 
  }

  #tags:checked ~ #tagsContent,
  #categories:checked ~ #categoriesContent {
    display: block;
  }

  .search-list {
    .search-items {
      display: inline-block;
      border: 1px solid $complementary-color;
      border-radius: 5px;
      margin: 3px;
      padding: 0px 10px;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $complementary-color;
      }
    }

    .search-items:hover {
      background-color: $complementary-color;

      @include transition(all, 0.2s, ease-out);

      a {
        color: white;
      }
    }

    .search-items:not(:hover) {
      background-color: white;

      @include transition(all, 0.2s, ease-out);
    }
  }

  .search-item-anchor {
    text-decoration: none;
    cursor: default;
  }

  ul {
    list-style: none;

    .post-date {
      font-size: map-get($font-size, small);
      color: $medium-grey;
    }
  }
}
